################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OLMS.BackEnd/.vs/OLMS.BackEnd/v15/Server/sqlite3
