<app-navbar>
</app-navbar>

<body>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="">
          Get practical end to end online training on 
          <span class="rotate">SQL, Basic .NET, Web API, Xamarin</span> from professionals in Bangla
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>



  <!-- <footer class="footer navbar-bottom">
        <div class="container">
          <span class="text-muted">Footer</span>
        </div>
    </footer> -->
</body>

