<h1>Add new Role</h1>

<div class="row">
  <div class="col-xl-10">
    <form #f="ngForm">
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
                <label for="">Name</label>
                <input #name ="ngModel" [(ngModel)]="model.name"  name="name"  type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                  Enter Name
                </div>
              </div>
         </div>
      </div>
      <div class="row">
          <div class="col-md-12">
             <div class="form-group">
                 <label for="">LandingRoute</label>
                 <input #landingRoute="ngModel" name="landingRoute" [(ngModel)]="model.landingRoute" type="text" class="form-control" required>
                 <div class="alert alert-danger" *ngIf="landingRoute.touched && landingRoute.invalid">
                    Enter LandingRoute
                 </div>
               </div>
          </div>
       </div>
    
       <button 
       [disabled]="!f.valid"
       (click)="save()"
       class="btn btn-primary">Save</button>
       <button class="btn btn-danger" (click)="reset()" >reset</button>
    </form>
  </div>
</div>