<form  #f="ngForm" >


  <div class="row">
    <div class="col-md-12">
      <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <label for="">User Name</label>
                <input type="text" #email="ngModel" [(ngModel)]="model.email" class="form-control" name="email"  required>
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                  Enter Name
                </div>
              </div>
            </div>

            
      </div>

     <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" #password="ngModel" [(ngModel)]="model.password" name="password" class="form-control" required >
              <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                Enter Password
              </div>
            </div>
          </div>
     </div>

     <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" #ConfirmPassword="ngModel" [(ngModel)]="model.ConfirmPassword" name="ConfirmPassword" class="form-control" required >
              <div class="alert alert-danger" *ngIf="ConfirmPassword.touched && ConfirmPassword.invalid">
                Enter Password
              </div>
            </div>
          </div>
     </div>


     
      <button type="button"  [disabled]="!f.valid"
      (click)="save()"  class="btn btn-primary"  >Save</button>
      <button type="button" class="btn btn-primary">Reset</button>
    </div>
  </div>


</form>

