<form #f="ngForm" >
  <div class="row">
    <div class="col-xl-12">
      <div class="form-group">
        <input type="text" [(ngModel)]="requestModel.keyword"  (keyup.enter)="search()"  placeholder="Search ......" name="keyword" id="keyword"
          class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
  
  
    <div class="col">
      <div class="row" >
        <ng-container *ngFor="let p of courses | async ;let i=index">
          <div class="col">
            <course-card [course]=p></course-card>
            
          </div>
          
        </ng-container>
      
      </div>
  
    </div>
  </div>
  
</form>



